body{
  text-align:center;
  padding-top:3%;
  background: linear-gradient( #a102b5 0%, #02b5a2 100% );
}

.image1{
  width:35%;
  height:220px;
}
#section1{
  overflow:hidden;
  color:#FFFF00;
  opacity:0.90;
  display: table-cell;
}
#section2{
font-family:cursive;
color:aliceblue;
font-size:20px;
}
.menu{
 list-style: none;
    font-family:sans-serif;
    position:absolute;
    top:10px;
    left:30px;
    cursor:pointer;
    z-index:10;
}
.link{
   float:left;
    color:white;
    padding-top:5px;
    padding-left:9px;
    padding-right:9px;
    font-family:fantasy;
    font-size:20px;
}

.link:hover{
    background-color:crimson
}
#h1{
    font-family: 'Festive', cursive;
    font-size:30px;
}
#read{
font-family: 'Lobster', cursive;
    font-size: 50px;
}